.rentMain {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.rentHeading {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;

}
.rentSteps{
    display: flex;
    justify-content: space-evenly;
}
.one{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #E21E26;
    margin-left: 16px;
}
.selectLocation{
    border: 1px solid #000000;
    width: 348px;
    height: 178px;
}
.redIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.rentDetails{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: left;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 8px;
    display: grid;
    align-items: flex-start;
}

@media (max-width:767px) {
    .rentSteps{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}